*{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    border: 1px dotted red;
    color: tan;
}

li{
    color: blueviolet;
}
a{
    color: blue;
}